
#sunpress_exchange {border: 2px solid #ee482e; background: #FFF url('sunshine-exchange-bg.gif') bottom right no-repeat; color: #444; padding: 0px; margin: 12px 0px; }
#sunpress_exchange a {font-size: 12px; font-family:Verdana, Arial, Helvetica, sans-serif; color: #ee482e; background: transparent; font-weight:bold;}
#sunpress_exchange p {font-size: 11px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#444; background: transparent; padding:5px;}

#sunpress_exchange_logo {height:28px; padding: 7px 0px 0px 5px; background: #FFF url('sunshine-exchange.gif') top right no-repeat; color: #6AADC0; font-size: 18px; font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif; border-bottom: 1px dotted #ee482e;}
#sunpress_exchange_logo img {border:0px;}